<figure>
  <a href="{{ .Destination | safeURL }}" class="img-link" target="_blank">
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
  </a>
  <figcaption>{{ .Text }}</figcaption>
</figure>