{{ $lang := index .Params "language" | default .Site.Language }}
<!DOCTYPE html>
<html lang="{{ $lang }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Put your description here." />
  </head>

  <body>
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }} {{ block "footer" . }}
    <hr />
    <footer>
      Hosted on GitLab Pages &ndash; Inspired by
      <a href="http://milligram.io/">milligram</a>
    </footer>
    {{ end }}
  </body>
</html>
