{{ define "main" }}
<header class="title-header">
    <div class="title">
        <h1>Lukas Eipert</h1>
    </div>
    <picture>
        <source type="image/webp" srcset="/profile.webp" />
        <img
            class="title-image"
            alt=""
            src="/profile.jpg"
            srcset="/profile.jpg 1x, /profile@2x.jpg 2x"
        />
    </picture>
</header>
<main>{{ .Content }}</main>
{{ end }}
