{{ define "title" }} {{ .Title }} &ndash; {{ .Site.Title }} {{ end }}
{{ define "main" }}
<header>
  <h1>{{ .Title }}</h1>
  {{ .Params.Subtitle | safeHTML}}
  <small>
    <!-- TODO: i18n -->
    <abbr class="e" title="Publication date">📅</abbr>
    {{.Date.Format "2006-01-02"}} &middot;
    <abbr class="e" title="Reading time">⏳</abbr>
    {{.ReadingTime}} min
  </small>
</header>
<hr />
{{ if (eq .File.Ext "html") }} {{ .Content }} {{ else }}
<main>
  {{ .Content }}
</main>
{{ end }}{{ end }}
