{{- $code := . }}
{{- $code := replaceRE `("[^"]+")` "<span style='color:var(--code-string-color)'>$1</span>" $code }}
{{- $code := replaceRE `(;.+)` "<span style='color:var(--code-comment-color)'>$1</span>" $code }}
{{- $code := replaceRE `(^|\n)(\d{4}-\d{2}-\d{2})(\s+)(\*|open|balance)` "$1<span style='color:var(--code-date-color);font-weight: bold'>$2</span>$3<span style='color:var(--code-operator-color)'>$4</span>" $code }}
{{- $code := replaceRE `([ {]|^)([-+]?[\d.]+)` "$1<span style='color:var(--code-number-color)'>$2</span>" $code }}
{{- $code := replaceRE `(Income|Assets|Expenses|Liabilities)([:A-Za-z-\d]+)` "<span style='color:var(--code-name-constant-color);font-weight:bold;font-style: italic;'>$1</span><span style='color:var(--code-name-color);font-style: italic;'>$2</span>" $code }}
{{- $code := replaceRE `([{}])` "<span style='color:var(--code-operator-color)'>$1</span>" $code }}
<code class="language-beancount" data-lang="beancount">{{- $code | safeHTML }}</code>