/* Reset  */
* {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Colors */

:root {
  --bg-color: #f5fffa;
  --bg-side-note: #c2ffdf;
  --text-color: #3a434c;
  --link-color: #7d314c;
  --link-color-visited: #67221b;
  --link-color-hover: #b85e58;
  --tag-color: #d3d3d3;
  --rainbow: #ff0000, #ffff00, #00c0ff, #c000ff;

  /* https://github.com/alecthomas/chroma/blob/c263f6fa195f71f7c91217f0372de43e44a62f03/styles/witchhazel.xml */
  --code-bg-color: #433e56;
  --code-text-color: #f8f8f2;
  --code-comment-color: #b0bec5;
  /* Transaction desc */
  --code-string-color: #1bc5e0;
  --code-date-color: #e6db74;
  /* Numbers that are not dates */
  --code-number-color: #c5a3ff;
  /* Account names */
  --code-name-color: #f8f8f2;
  /* Assets / Expenses / Income / Liabilities */
  --code-name-constant-color: #c2ffdf;
  /* Curly Brackets, directive */
  --code-operator-color: #ffb8d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsl(216, 12%, 8%);
    --bg-side-note: hsl(216, 12%, 28%);
    --text-color: #f2f1ef;
    --link-color: #e7903c;
    --link-color-visited: #f89406;
    --link-color-hover: #e6a522;
    --tag-color: #474f5b;
  }
}

/* Main styles */
html {
  background-color: var(--bg-color);
  height: 100vh;
  font-size: 20px;
  line-height: 1.53;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: var(--text-color);
  max-width: 32rem;
  margin: 0 auto;
  padding: 5rem 1.5rem 1.5rem;
}

img {
  max-width: 15rem;
}

header {
  text-align: right;
}

/* Emoji */
.e {
  font-family: 'Noto Emoji', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.25rem;
}

p,
hr,
ol,
ul,
details,
pre,
figure,
header {
  margin-bottom: 1rem;
}

.startofdoc {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

li ol,
li ul {
  margin-bottom: 0;
}

/* Workaround for: https://github.com/gohugoio/hugo/issues/6748 */
p:empty {
  display: none;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  clear: both;
}

a {
  text-decoration: none;
  color: var(--link-color);
  display: inline-block;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.1em;
  height: 0.1em;
  width: 100%;
  transition: all 0.25s cubic-bezier(0.6, 0, 0.4, 1);
  background: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

a:visited::after {
  background: var(--link-color-visited);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
}

a:hover::after,
a:focus:after {
  height: 0.15em;
  background: linear-gradient(in oklab to left, var(--rainbow));
  background: linear-gradient(270deg, var(--rainbow));
}

figure {
  width: 80%;
  margin: 1rem 10%;
}

figure a,
figure img {
  display: inline-block;
  width: 100%;
  max-width: unset;
}

figure figcaption {
  font-size: 0.8rem;
  padding: 0 1rem;
  text-align: right;
  line-height: 1.2;
}

figure a::after {
  display: none;
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(in oklab to left, var(--rainbow));
  background: linear-gradient(270deg, var(--rainbow));
}

/* Code blocks */
pre,
code {
  font-family: 'JetBrains Mono', 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono',
    'Consolas', 'Ubuntu Mono', 'Courier New', 'andale mono', 'lucida console',
    monospace;
  line-height: 1.4;
}

p code,
li code {
  font-size: 0.8em;
  border-radius: 2px;
  display: inline-block;
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  padding: 2px 4px;
  margin: auto 2px;
}

pre {
  overflow-x: auto;
  scrollbar-color: var(--code-text-color) var(--code-bg-color);
}

pre,
.disclaimer,
.side-note {
  font-size: 0.7rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: #00000040 0px 0.0625rem 0.0625rem, #00000040 0px 0.125rem 0.5rem,
    #ffffff1a 0px 0px 0px 1px inset;
}

.side-note pre {
  border-radius: 0;
  box-shadow: none;
  box-shadow: #ffffff1a 0px 0px 0px 1px inset;
}

.side-note {
  background-color: var(--bg-side-note);
}

.side-note summary {
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.side-note > :last-child {
  margin-bottom: 0;
}

/* _default/home */
header.title-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header.title-header .title {
  padding-right: 1rem;
}

header.title-header .title-image {
  aspect-ratio: 600 / 900;
  width: 40vw;
  max-width: 10rem;
}

/* shortcodes/social */
ul.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}

ul.two-columns li {
  padding: 0.25rem;
}

/* shortcodes/talks */

ul.talks a {
  font-size: 0.8rem;
}

ul.talks .tag {
  font-size: 0.6rem;
  background-color: var(--tag-color);
  padding: 0.3em 0.4em;
  border-radius: 0.2rem;
  margin: 0.4rem 0;
}

@media (max-width: 650px) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  small,
  ul.talks .tag,
  footer,
  ul.talks a {
    font-size: 0.86rem;
  }

  pre,
  .side-note,
  p code,
  li code {
    font-size: 0.86rem;
  }

  ul.two-columns li {
    margin: 0.5rem 0;
  }
}
