<ul class="talks">
  {{ range $.Page.Site.Data.home.talks }}
  <li>
    {{ .date }}: {{.title}} {{with .slides}}
    <a href="{{.}}">[Slides]</a>
    {{end}} {{with .screengrab}}
    <a href="{{.}}">[Screengrab]</a>
    {{end}}
    <br />
    {{ range .tags}}
    <span class="tag">{{.}}</span>
    {{end}}
  </li>
  {{ end }}
</ul>
