{{ $pages := where $.Site.Pages ".Params.expose" true }} {{ with $pages }}
<ul>
  {{ range sort . ".Date" "desc" }}
  <li>
    <a href="{{.RelPermalink}}">{{.LinkTitle}}</a>
    <small>({{.Date.Format "2006-01-02"}})</small>
    <br />
    <small>{{.Summary}}</small>
  </li>
  {{ end }}
</ul>
{{ end }}
